<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compileBitcode</key>
    <false/>
    <key>method</key>
    <string>release-testing</string> <!-- 或 ad-hoc, enterprise, app-store -->
    <key>teamID</key>
    <string>X9A9C8FGQ6</string> <!-- 你的团队ID -->
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <false/>
    <key>signingStyle</key>
    <string>automatic</string> <!-- manual 或 automatic -->
</dict>
</plist>